
// Converted Variables

$ButtonSize-paddingH-xl: $g-controls-spaceH-xl !default;
$ButtonSize-paddingH-lg: $g-controls-spaceH-lg !default;
$ButtonSize-paddingH: $g-controls-spaceH !default;
$ButtonSize-paddingH-sm: $g-controls-spaceH-sm !default;
$ButtonSize-fontSize-xl: $g-fontSize-xl !default;
$ButtonSize-fontSize-lg: $g-fontSize-lg !default;
$ButtonSize-fontSize: $g-fontSize !default;
$ButtonSize-fontSize-sm: $g-fontSize-sm !default;
$ButtonSize-height-xl: $g-controls-height-xl !default;
$ButtonSize-height-lg: $g-controls-height-lg !default;
$ButtonSize-height: $g-controls-height !default;
$ButtonSize-height-sm: $g-controls-height-sm !default;


/*ã€€sircus-components-button-size
======================================== */

.Button--xl {
  height: $ButtonSize-height-xl;
  padding: 0 $ButtonSize-paddingH-xl;
  line-height: ($ButtonSize-height-xl - $Button-borderSize2x);
  font-size: $ButtonSize-fontSize-xl;
}
.Button--lg {
  height: $ButtonSize-height-lg;
  padding: 0 $ButtonSize-paddingH-lg;
  line-height: ($ButtonSize-height-lg - $Button-borderSize2x);
  font-size: $ButtonSize-fontSize-lg;
}
.Button--sm {
  height: $ButtonSize-height-sm;
  padding: 0 $ButtonSize-paddingH-sm;
  line-height: ($ButtonSize-height-sm - $Button-borderSize2x);
  font-size: $ButtonSize-fontSize-sm;
}
