
// Converted Variables

$Button-paddingH-xl: $g-controlsSpaceH-xl !default;
$Button-paddingH-lg: $g-controlsSpaceH-lg !default;
$Button-paddingH: $g-controlsSpaceH !default;
$Button-paddingH-sm: $g-controlsSpaceH-sm !default;
$Button-fontSize-xl: $g-fontSize-xl !default;
$Button-fontSize-lg: $g-fontSize-lg !default;
$Button-fontSize: $g-fontSize !default;
$Button-fontSize-sm: $g-fontSize-sm !default;
$Button-borderRadius-xl: $g-borderRadius-xl !default;
$Button-borderRadius-lg: $g-borderRadius-lg !default;
$Button-borderRadius: $g-borderRadius !default;
$Button-borderRadius-sm: $g-borderRadius-sm !default;
$Button-height-xl: $g-controlsHeight-xl !default;
$Button-height-lg: $g-controlsHeight-lg !default;
$Button-height: $g-controlsHeight !default;
$Button-height-sm: $g-controlsHeight-sm !default;

// Custom Media Query Variables


/*　sircus-components-button-size
======================================== */

.Button--xl {
  height: $Button-height-xl;
  padding: 0 $Button-paddingH-xl;
  line-height: ($Button-height-xl - calc($Button-borderSize * 2));
  font-size: $Button-fontSize-xl;
  border-radius: $Button-borderRadius-xl;
}
.Button--lg {
  height: $Button-height-lg;
  padding: 0 $Button-paddingH-lg;
  line-height: ($Button-height-lg - calc($Button-borderSize * 2));
  font-size: $Button-fontSize-lg;
  border-radius: $Button-borderRadius-lg;
}
.Button--sm {
  height: $Button-height-sm;
  padding: 0 $Button-paddingH-sm;
  line-height: ($Button-height-sm - calc($Button-borderSize * 2));
  font-size: $Button-fontSize-sm;
  border-radius: $Button-borderRadius-sm;
}


.Button--full {
  display: block;
  width: 100%;
}
.Button--full + .Button--full {
  margin-top: $g-space-mi
}
